<!DOCTYPE html>
<html lang="en">
<head>
    <title>To Do List</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>To Do List</h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-mod-offset-3">
            <form method="POST" action="/todos">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="What needs to be done?" name="action"></input>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:unless="${#lists.isEmpty(todos)}">
                <div th:each="todo : ${todos}" th:attrappend="class=${todo.completed ? 'complete' : 'incomplete'}">
                    <form th:action="@{/todos/{id}/toggle(id=${todo.id})}" method="POST">
                        <input class="todo-item-submit" type="submit" th:attrappend="value=${todo.completed ? '✓' : '◻'}"></input>
                        <span th:text="${todo.action}"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>